<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/asset?plugin=Conveyor&filename=style.css">
    <title>画像を管理</title>
</head>
<body> 
    <header>
        <h2>アップロードされた画像</h2>
        <a href="javascript:upload('{{image}}')">
            画像をアップロード
        </a>
    </header>
    <dialog id="delete_dialog">
        <h1 id="delete_path"></h1>
        <p class="description">この操作のあと、復元することはできません</p>
        <form id="delete_actions" method="POST" action="/admin/image/delete">
            <input type="hidden" name="path" id="delete_path_field">
            {{csrf_field()}}
            <button class="cancel" type="button">キャンセル</button>
            <button>削除</button>
        </form>
    </dialog>
    <dialog id="upload_dialog">
        <h1>画像をアップロード</h1>
        <p class="description">この操作のあと、復元することはできません</p>
        <form id="upload_actions" method="POST" enctype="multipart/form-data" action="/admin/image/post">
            <input type="file" name="image" accept="image/*">
            {{csrf_field()}}
            <button class="cancel" type="button">キャンセル</button>
            <button>アップロード</button>
        </form>
    </dialog>
    <main>
        <div id="images">
            {% if images|length>0 %}
            {% for image in images %}
            <div class="item page">
                <img src="/asset/uploads?filename={{image}}">
                <div class="action">
                    <input type="text" value="{{uri.scheme}}://{{uri.host}}/asset/uploads?filename={{image}}">
                    <button onclick="console.log(this.parentNode.querySelector('input'));this.parentNode.querySelector('input').select();document.execCommand('copy')">
                        URLをコピー
                    </button>
                    <button onclick="del('{{image}}')">
                        画像を削除
                    </button>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="zero_list">
                まだ画像がアップロードされていません
            </div>
            {% endif %}
        </div>
    </main>
    <script>
        const upload_dialog=document.querySelector("#upload_dialog");
        const delete_dialog=document.querySelector("#delete_dialog");
        function del(path){
            document.querySelector("#delete_path_field").value=path;
            delete_dialog.showModal();
        }
        function upload(path){
            upload_dialog.showModal();
        }
        document.querySelector("#upload_actions").onsubmit=function(e){
            e.preventDefault();
            fetch("/admin/image/post",{
                method:"POST",
                body:new FormData(this)
            }).then(res=>{
                return res.text();
            }).then((res)=>{
                const dom=document.createElement("div");
                dom.innerHTML=`
                    <div class="item page">
                        <img src="/asset/uploads?filename=${res}">
                        <div class="action">
                            <input type="text" value="{{url.scheme}}://{{url.host}}/asset/uploads?filename=${res}">
                            <button onclick="this.parentNode.querySelector('input').select();document.execCommand('copy')">
                                URLをコピー
                            </button>
                            <button onclick="del('${res}')">
                                画像を削除
                            </button>
                        </div>
                    </div>`;
                document.querySelector("#images").prepend(dom);
            });
            this.parentNode.close();
            return false;
        }
        document.querySelectorAll(".cancel").forEach(function(e){
            e.onclick=()=>{
                e.parentNode.parentNode.close();
            }
        });
    </script>
</body>
</html>
